

 {

  margin: 0px;

  padding: 0px;

  box-sizing: border-box;

}

.body-text {

  display: flex;

  font-family: "Montserrat", sans-serif;

  align-items: center;

  justify-content: center;

  margin-top: 250px;

}

nav {

  display: flex;

  justify-content: space-around;

  align-items: center;

  min-height: 8vh;

  background-color: teal;

  font-family: helvetica, sans-serif;

}

.heading {

  color: white;

  text-transform: uppercase;

  letter-spacing: 5px;

  font-size: 20px;

}

.nav-links {

  display: flex;

  justify-content: space-around;

  width: 30%;

}

.nav-links li {

  list-style: none;

}

.nav-links a {

  color: white;

  text-decoration: none;

  letter-spacing: 3px;

  font-weight: bold;

  font-size: 14px;

  padding: 14px 16px;

}

.nav-links a:hover:not(.active) {

  background-color: lightseagreen;

}

.nav-links li a.active {

  background-color: #4caf50;

}



h1 {
      font-family: helvetica;
      font-size: 30px;
      border-style: solid;
      border-width:3px;
      text-align: center;
      border-color: blueviolet;

    }

    p {
       font-family: helvetica;
       font-size: 15px;
       border-style: solid;
       text-align: center;
       border-color: palegreen;
    }

  .books 
  { border-radius: 50%;
  border-style: double;
  border-width:2px;
  border-color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  .main {
  border-radius: 50%;
  border-style: double;
  border-width:4px;
  border-color: green;
    display: block;
    width: 20%;
    float: left;
    padding: 15px;
  shape-outside: circle(50%);
  margin: auto;
  }

  .main2 {
  text-align: justify;
      font-size: 15px;
      font-family: helvetica;
  }




.side {
  overflow: auto; /* to clear any floats inside the container */
}

  .best {
  border-radius: 50%;
  border-style: double;
  border-width:4px;
  border-color: steelblue;
    display: block;
    width: 30%;
    float: left;
    padding: 15px;
  margin: 10px;
  }

.side1 {
  overflow: auto; /* to clear any floats inside the container */
}

    .daughter {
  border-radius: 50%;
  border-style: double;
  border-width:4px;
  border-color: steelblue;
    display: block;
    width: 30%;
    float: left;
    padding: 15px;
  margin: 10px;
  }


.side2 {
  overflow: auto; /* to clear any floats inside the container */
}
    .son-in-law {
  border-radius: 50%;
  border-style: double;
  border-width:4px;
  border-color: steelblue;
    display: block;
    width: 30%;
    float: left;
    padding: 15px;
  margin: 10px;
  }

.house1 {
  overflow: auto; /* to clear any floats inside the container */
}
.bighouse {
  border-radius: 50%;
  border-style: double;
  border-width:4px;
  border-color: steelblue;
    display: block;
    width: 30%;
    float: left;
    padding: 15px;
  shape-outside: circle(50%);
  margin: 10px;
  }


.house2 {
  overflow: auto; /* to clear any floats inside the container */
}
  .lallybroch {
  border-radius: 50%;
  border-style: double;
  border-width:4px;
  border-color: seagreen;
    display: block;
    width: 30%;
    float: left;
    padding: 15px;
  shape-outside: circle(50%);
  margin: 10px;
  }


.house3 {
  overflow: auto; /* to clear any floats inside the container */
}
.parishouse {
  border-radius: 50%;
  border-style: double;
  border-width:2px;
  border-color: deeppink;
    display: block;
    width: 30%;
    float: left;
    padding: 15px;
  shape-outside: circle(50%);
  margin: 10px;
  }

.dog {
  overflow: auto; /* to clear any floats inside the container */
}
  .rollo {
    border-radius: 50%;
    display: block;
    float: left;
    margin: 10px;
  }

  .sister {
  overflow: auto; /* to clear any floats inside the container */
}
  .jenny {
    border-radius: 50%;
    display: block;
    float: left;
    margin: 10px;
  }

  .love {
  overflow: auto; /* to clear any floats inside the container */
}
  .fergusandmarsali {
    border-radius: 50%;
    display: block;
    float: left;
    margin: 10px;
  }

  .frank {
  overflow: auto; /* to clear any floats inside the container */
}
  .firsthusband {
    border-radius: 50%;
    display: block;
    float: left;
    margin: 10px;
  }

  .witch {
  overflow: auto; /* to clear any floats inside the container */
}
  .geillis {
    border-radius: 50%;
    display: block;
    float: left;
    margin: 10px;
  }